.projects__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    width: 100%;
    max-width: 1100px; /* Example max-width, adjust as needed */
}

.categories__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.projects__heading {
    border: 1px solid black;
}

.project__categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.project_category {
    border: 1px solid black;
    margin: 0 10px;
    padding: 5px;
    cursor: pointer;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%; /* Adjust the width as needed */
    
}

.project_item {
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 60px 25px;
    background-size: cover;
    background-position: center;
    text-decoration: none;
    color: inherit;
    width: 150px; /* Fixed width */
    height: 80px; /* Fixed height */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden; /* Ensures no overflow of content */
}


.project_item:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    
}

.project__title{
    font-weight: bold;
}


