/* Existing styles */
.home__container {
  display: flex;
  margin: 0 auto;
}

.left__container {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center children vertically */
  align-items: center; /* Center children horizontally */
}

.home__image-container {
  flex: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.home__image {
  width: 100%;
  height: auto;
}

/* Additional styles for aligning the title and subtitle */
.home__headline {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align children to the right */
  text-align: right;
}

.headline,
.sub-headline {
  align-self: flex-end; /* Align to the right within the flex container */
}

.headline {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
}

.sub-headline {
  font-size: 1.5rem;
  font-weight: 400;
  color: #666;
}

.download-cv {
  text-decoration: none;
  background-color: #007bff; /* You can change the button color */
  color: white;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  margin-top: 20px;
}

.download-cv:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
}

