.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .ProfilePicture {
    width: 50px; /* Adjust size as needed */
    height: 50px;
    border-radius: 50%; /* Circular profile picture */
  }
  


  .header__container {
    max-width: 1100px;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
  }

.contact-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}



.header-social {
  margin: 0px 10px;
}



.header-social {
  font-size: 24px; /* Adjust size as needed */
  margin-right: 10px; /* Adds spacing between icons */
  color: #333; /* Default icon color, can be adjusted as needed */
}


.email-and-phone a, .contact{
  text-decoration: none;
  color: #333;
}

/* Existing styles */

.contact-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.email-and-phone, .header-socials {
  margin: 0px 10px 0px 20px;
}

/* Additional media query for smaller screens */
@media (max-width: 768px) {
  .contact-details {
    flex-direction: column; /* Keep them in a row */
    justify-content: flex-end; /* Align items to the end of the container */
    align-items: center; /* Keep items vertically centered */
    min-width: 295px;
  }

  .email-and-phone, .header-socials {
    margin: 0px 10px; /* Adjust margins to maintain spacing */
  }

  /* Optional: Adjust padding inside .contact-details for smaller screens */
  .contact-details {
    padding: 5px 0px; /* Optionally, adjust padding */
  }

  .ProfilePicture {
    width: 0px; /* Adjust size as needed */
    height: 0px;
    border-radius: 50%; /* Circular profile picture */
  }
  .Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
  }
}
